$color-primario: #1A2285;
$color-primario-claro-1: #2E36A0;
$color-primario-claro-2: #4B52AA;
$color-primario-oscuro-1: #0E156D;
$color-primario-oscuro-2: #070C50;
$color-fondos: #ECE6E4;
$color-texto-en-primario: #f2f2f2;
$color-texto-en-fondos: #0d0d0d;